*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

select{
    padding: 1rem;
    font-size: medium;
}

button:hover{
    cursor: pointer;
    color: orange;
}

.navbar--container{
    display: flex;
    padding: 1rem;
    background-color: rgb(15, 15, 116);
    color: white;
}

.navbar--container--input--0{
    display: flex;
    flex-grow: 11;
    justify-content: space-between;
}

.navbar--container--input--0 input{
    width: 100%;
    color: black;
    padding: 10px;
    text-transform: capitalize;
    outline: none;
    font-size: large;
}

button{
    flex-grow: 1;
    background-color: inherit;
    color: white;
    border: none;
}

.navbar--container--search--button{
    border: none;
    padding: 1rem;
}

.navbar--container--search--button:hover{
    color: orange;
}

select{
    background-color: rgba(236, 228, 6, 0.93);
}

.cards--generator--container{
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.cards--generator--container--content{
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: auto;
    text-align: center;
}

.cards--generator--container--add--to--cart--button{
    color: black;
    border: 0.1rem solid black;
    padding: 0.15rem;
    border-radius: 10px;
    margin: 1%;
    font-size: 1rem;
    text-transform: uppercase;
}

.footer--container{
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid black;
    background-color: rgb(15, 15, 116);
    color: white;
}

.footer--container p{
    margin-left: 25px;
}